span{
    font-size: 30px;
}
h1{
    text-align: center;
    background-color: cyan;
    padding: 20px;
    margin-bottom: 0px;
    
}
about{
    text-align: left; 
    margin-left: 400px;
    margin-right:0px ;
    padding-bottom: 20px;
} */
#list ol{
    text-align: center;
    list-style: none;
}
.kerry ul{
    list-style: none;
    text-decoration: none;
}
#maiden{
    background-color: cornsilk;
}
.hen{
    text-align: center;
    background-color: cyan;
    padding: 20px;
    margin-bottom: 0px;
    
}
.we ul{
    display:inline-block;
    margin-right: 30px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    

}

.we{text-align: center;
    color: white;
    background-color:lightcoral;
    background-size: con;
    padding: 10px;
    
}
#ze{
    background-color: darkslategray;
 padding-bottom: 40px;
}
.we ul li a{
    text-decoration: none;
     
}
.we ul li a:hover{
    background-color: #fff;


}
#kill{
    text-align:center ;
    background-color: cyan;
    padding: 20px;
}
img{
    float: right;
}
.tpain{
    margin:0;
    padding: 0;
    background-color: darkslategray;
}
.tpain .about{
    margin:0;
    background-color: darkslategray;
}