span{
    font-size: 30px;
}
h1{
    text-align: center;
    background-color: cyan;
    padding: 20px;
    
}
.about{
    text-align: center;
    margin-left: 400px;
    margin-right:400px ;
}
#list ol{
    text-align: center;
    list-style: none;
}
.kerry ul{
    list-style: none;
}
#maiden{
    background-color: cornsilk;
}
footer{
    text-align: center;
    background-color: cyan;
}
.we ul{
    display:inline-block;
    margin-right: 30px;
    display: flex;
    justify-content: space-around;

}

.we{text-align: center;
    color: white;
    background-color:black;
    background-size: con;
    padding: 10px;
}
#ze{
    background-color: darkslategray;
}


