h1{
    background-color: cyan;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    
}
.lucy{
    background-color: cyan;
    text-align: center;
}
#Eve{
    background-color: rosybrown;
    text-align: center;
    margin-bottom: 0px;
    padding-top: 20px;
    



}
#Eve ul{
    list-style-type: none;
    
}
.DD ul{
    display:inline-block;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    margin-top: 0px;
    list-style: none;
    
    
}
.DD{
    text-align: center;
    color: white;
    background-color:black;
    background-size: con;
    padding: 30px;
    margin-top: 0;
    margin-bottom: 0px;
}
.DD ul li a{
    text-decoration:none ;
    
}
.DD ul li a:hover{
    background-color: #fff;
}