footer{
    text-align: center;
    background-color: cyan;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 10px;

 }
 #me ul{
     text-align: center;
     list-style: none;
 }
 h1{
     text-align: center;
     padding: 20px;
     margin-bottom: 0;
 }
.p{
    text-align: center;
} 
span{
    font-size: 30px;
}
.two{
    background-color: rosybrown;
    background-size: cover;
    padding: 40px ;
   
}
h1{
    background-color: cyan;
  
}
.welcome ul{
    display:inline-block;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    list-style:none ;
}
.welcome{
    text-align: center;
    color: white;
    background-color:lightcoral;
    background-size: con;
    padding: 10px;
}
.welcome ul li a{
    text-decoration: none;
}
.welcome ul li a:hover{
    background-color: #fff;
}