footer{
    text-align: center;
    background-color: cyan;
 }
 #me ul{
     text-align: center;
     list-style: none;
 }
 h1{
     text-align: center;
     padding: 20px;
     margin-bottom: 0;
 }
.p{
    text-align: center;
} 
span{
    font-size: 30px;
}
.two{
    background-color: coral;
    background-size: cover;
    padding: 20px ;
   
}
h1{
    background-color: cyan;
  
}
.welcome ul{
    display:inline-block;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
}
.welcome{
    text-align: center;
    color: white;
    background-color:black;
    background-size: con;
    padding: 10px;
}
