nav ul li{
    display:inline-block;
    margin-right: 30px;
    /* display: flex;
    justify-content: center; */
    text-decoration: none;
}
nav ul {
    text-align: center;
    color: white;
    background-color: lightcoral;
    background-size: con;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 0;
    
    

}
h1{
    display: flex;
    justify-content: center;


    
}
#class{
    float: right;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.dave{
    padding: 20px;
    background-image: url("/images/chihuahua-dog-running-across-grass-royalty-free-i");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
}


span{
    font-size: 30px;
}
nav ul li a:hover{
    background-color: #fff;
}
nav ul li a{
    text-decoration: none;
}

