nav ul li{
    display:inline-block;
    margin-right: 30px;
    display: flex;
    justify-content: center
}
nav{
    text-align: center;
    color: white;
    background-color:black;
    background-size: cover;
    padding: 20px;
}
h1{
    display: flex;
    justify-content: center;


    
}
#class{
    float: right;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.container{
    padding: 20px;
    background-color: rosybrown;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
}


span{
    font-size: 30px;
}



