nav ul li{
    display:inline-block;
    margin-right: 30px;
    /* display: flex;
    justify-content: center; */
}
nav{
    text-align: center;
    color: white;
    background-color:black;
    margin-top: 30px;
}
h1{
    display: flex;
    justify-content: center;
    
}
#class{
    float: right;
    padding: 20px;
}
.container{
    padding: 10px;
}
